<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>CHED and TESDA Scholarship Information System</title>
      

          <!-- materialize icons, css & js -->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link type="text/css" href="/css/styles.css" rel="stylesheet">
         
          <link type="text/css" href="/css/materialize.min.css" rel="stylesheet">
          <script type="text/javascript" src="/js/materialize.min.js"></script>
          <link type="text/javascript" src="/js/materialize.min.js"></script>
      
          <link rel="manifest" href="/manifest.json">
        
          <link rel="apple-touch-icon" href="/icons/icon-96x96.png">
          <meta name="apple-mobile-web-app-status-bar" content="#aa7700">
          <meta name = "theme-color" content="#FFE1C4">
         
          <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script> 
          <link rel="stylesheet" href="/bootstrap-4.4.1-dist/css/bootstrap.min.css">
          <script src="/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
           
         
        <link rel="stylesheet" href="css/normalize.min.css"> 
        <link rel="stylesheet" href="css/animate.css"> 
        <link rel="stylesheet" href="css/templatemo_style.css"> 

        
 

    
  </head>
 
<body>
 
    <div class="container-fluid">
        <div class="row">
            
            <div class="col-md-4 col-sm-12">
                <div class="sidebar-menu">
                    
                    <div class="logo-wrapper">
                        <h1 class="logo">
                            <a href="#"><img src="img/scholarship-programs-banner.jpg" width="100%" height="60%">
                            <span>ASCB CHED and TESDA Scholarship Information</span></a>
                        </h1>
                    </div> <!-- /.logo-wrapper -->
                    
                    <div class="menu-wrapper">
                        <ul class="menu">
                            <li><a class="homebutton" href="#">Home</a></li>
                            <li><a class="show-1" href="#">Ched Scholarship</a></li>
                            <li><a class="show-2" href="#">Tesda  Scholarship</a></li> 
                            <!-- <li><a class="show-3" href="#">Tesda  Scholarship</a></li>  -->
                            <li><a class="show-4" href="#" id="loginshow"> Join Us</a></li>
                            
                        </ul> <!-- /.menu -->
                        <a href="#" class="toggle-menu"><i class="material-icons">dehaze</i></a>
                    </div> <!-- /.menu-wrapper --> 

                </div> <!-- /.sidebar-menu -->
            </div> <!-- /.col-md-4 -->

            <div class="col-md-8 col-sm-12">
                
                <div id="menu-container">

                    <div id="menu-1" class="about content">
                        <div class="">  
                            <h4 class="text-center bg-white p-2"> <img src="/img/ched.png" alt="" style="height: 40px; width: 40px;"> Commission on Higher Education (CHED) 
                              <a style="margin-left: 20px; color: red; font-weight: bold; font-size: 19px;"> 
                                Apply Now! </a> </h4>  
                               
                            <div class="col-md-12 col-sm-12">
                                <div class="toggle-content text-justify" id="tab1">
                                  <div class="icon-block">
                      
                                    <p style="font-size: 14px;">CHED Scholarship Programs (CSPs) is previously referred as Student Financial Assistance Programs (StuFAPs). The applications are open to high school graduates, candidate for graduation, college unit earners, passers of Alternative Learning System (ALS) and Philippine Educational Placement Test (PEPT) passers.</p>
                      
                                    <blockquote> No exam needed!  </blockquote>
                                    
                                    <div class="row">
                                      <div class="col-md-4">
                                        <h5 class="m-0"> Criteria of Eligibility:</h5>
                                    
                                        <div class="ml-2 mt-2" style="font-size: 13px; list-style-type:square;" >
                                          <li class="text-justify"> Filipino citizen; </li>
                                          <li class="text-justify">Graduating senior highschool student/highschool graduate with general weighted average (GWA) of atleast 85%;</li>
                                          <li class="text-justify">Parent/s or guardian Annual Gross income of Four Hundred Thousand Pesos (Php 400,000.00) and below.</li>
                                        </div>
                                      </div>
                                      <div class=" col-md-8"> 
                                          <h6 class="p-0 m-0" > Academic Requirements -   <b class="text-danger" style="font-weight: bold; text-decoration: underline;">any one of the following:</b>  </h6>  
                                          <div class="ml-2 mb-2" style="font-size: 12px; list-style-type:square;" >
                                            <li class="text-justify">High school report card </li>
                                            <li class="text-justify">Duly certified true copy of grades for Grade 11 or 1st semester of Grade 12 for <i>graduating highschool students.</i>  </li>
                                          </div> 
                                       
                                          <h6 class="p-0 m-0"> Income Requirements -  <b class="text-danger" style="font-weight: bold; text-decoration: underline;">any one of the following:</b></h6> 
                                          <div class="ml-2" style="font-size: 12px; list-style-type:square;" >
                                            <li class="text-justify">  Lastest ITR of parents or guardian if employed </li>
                                            <li class="text-justify"> Certified of Tax Exemption from the BIR </li>
                                            <li class="text-justify">Certified of Indigency from their Barangay </li>
                                            <li class="text-justify"> Certificate/Case Study from DSWD </li>
                                            <li class="text-justify">Latest copy of contract or proof of income for children of Overseas Filipino Workers (OFW) and seafarers. </li>
                                          </div> 
                                        
                                      </div>
                                    </div>
                                   
                                    
                                    
                                     
                                    <h5 class="mb-0"> Assistance's Priority Courses offered in ASCB:</h5>
                                    <div class="row ml-2" style="font-size: 13px;">
                                      <div class="col l4">
                                        <h4 class="mb-2">Science</h4>
                                        <li>Criminology</li>
                                      </div>
                                      <div class="col l4">
                                        <h4 class="mb-2">Technology</h4>
                                        <li>Information Technology</li>
                                        <li>Computer Science</li>
                                      </div>
                                      <div class="col l4">
                                        <h4 class="mb-2">Others</h4>
                                        <li> Teacher Education</li>
                                        <li> Business Administration </li>
                                      </div>
                                    </div>
                                   
                                  </div>
                                </div> 

                                  

                            </div> <!-- /.col-md-12 -->
                        </div> <!-- /.row -->

                    </div> 

                    <div id="menu-2" class="about content"> 
                      <div class="text-center bg-white">
                        <h4 class="p-2 m-0"> 
                          <img src="/img/tesda.png" alt="" style="height: 40px; width: 40px;"> Technical Education and Skills Development Authority (TESDA) 
                        </h4>   
                          <div class="d-flex mx-5 pb-3" style="margin: 0 auto"> 
                            <h4 class="p-0 m-0" style="color:red; font-weight: bold; font-size: 17px;">Apply Now! :  
                             <a class="ml-5" href="#"> TWSP Scholarship</a>  
                             <a class="ml-5" href="#"> STEP Scholarship</a>   </h4> 
                          </div>    
                      </div> 
                      <div class="col-md-12 col-sm-12">
                              <div class="toggle-content text-justify" id="tab1">
                                <div class="icon-block">
                                  <p style="font-size: 14px;">Technical Education and Skills Development Authority (TESDA) is offering Skills Training and Scholarship programs in 2020. It is open to everyone including OFWs. Interested applicants should apply online to avail of the scholarship programs under the Technical Vocational Education and Training (TVET).</p>  
                    
                                  <blockquote> No exam needed!  </blockquote>
                                  <h5> Who can apply?</h5>
                                  <p style="font-size: 13px;"> TESDA extends financial assistance to marginalized but deserving students in post-secondary non-degree courses; promote TVET; contribute to the development of a competent skilled workforce;</p>
                                
                                  <h5 class="mb-2"> Assistance's Priority Courses offered in ASCB:</h5>
                                    <div class="row" style="font-size: 13px; margin-left: 20px;">
                                      <div class="col l4"> 
                                        <li> FBS NC 2 </li>
                                        <li> FBS NC 3</li>
                                      </div>
                                      <div class="col l8">
                                        <li> HOUSEKEEPING NC 2</li>
                                        <li> COOKERY NC 2</li>
                                      </div> 
                                    </div>  
                                </div> 
                              </div> 
                      </div> <!-- /.row --> 
                    </div> 
                 
                    <div id="menu-4" class="priority content">
                        
                            <div class="col-md-12">
                                <div class="toggle-content2 text-center spacing">
                                    <div style="display: grid; grid-template-columns: 1fr 1fr;">
                                
                                      <form id="login-form" style="background-color: #0714c9;" class="p-5">
 
                                        <h2 style="color: white;"> Log In</h2>
                                        <input type="email" placeholder="email" class="bg-white"  id="login-email"> 
                                        <input type="password" placeholder="password" id="login-password" class=" bg-white"/>
                                        <!-- <input type="password" placeholder="confirm password" id="login-cpassword" class="bg-white"/> -->
                                        
                                        <div style="display: grid; ">
                                          <button  id="login" type="button"  class="waves-effect waves-light btn-small text-white mt-3"> Log in </button>
                                          <span class="text-white m-0 right mt-4" style="font-size: 12px;"> Forgot <a href="/resetpassword.html" class="btn btn-small modal-trigger px-1"  style="text-transform: lowercase; border: none; color:aliceblue; font-size: 13px;"> username/password? </a></span>
                                          <p class="error center-align bg-white p-0 m-0" style="color: red; font-size: 13px; font-weight: bolder;"></p>
                                      


                                        </div>  
                                      </form> 
 
 
                                </div>
                            </div> <!-- /.col-md-12 --> 
                                
                     </div>
                         
                </div> <!-- /#menu-container -->

            </div> <!-- /.col-md-8 -->

        </div> <!-- /.row -->
    </div> <!-- /.container-fluid -->
    
    <div class="container-fluid">   
            <div class="col-md-12 footer">
                
                 <a href="#"> Andress Soriano Colleges of Bislig</a>
                 	
                    | Online Scholarship Information System
                 
                 </p>
            </div><!-- /.footer --> 
    </div> <!-- /.container-fluid -->
 
 
      <!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-storage.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.19.0/firebase-functions.js"></script>
  

 

 <!-- important service worker-->
 <script src="/js/app.js"></script>  
  

  <!-- transitions -->
 <script src="/js/main.js"></script>
 <script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>


 
   
   <!-- database refer -->
<script src="/js/auth.js"></script>
<script src="/js/adminsetup.js"></script>



<script>
  firebase.auth().onAuthStateChanged(function(user){ 
    
    if(user){     
        var userID = firebase.auth().currentUser.uid; 
        firebase.database().ref('Users/'  + userID).once('value').then(function(snapshot){
          if(snapshot.val()){ 
              window.location.href = "/homepage.html"; 
              
          }
          else{
            window.location.href = "/selectscholarship.html"; 

          }  
       
        }
        
        );   
    }

  });
</script> 




</body>
</html>